<div>
    <h1>Formulaire de création d'un produit</h1>
    <!-- (createEvent) => un évement correspondant à l'output du composant create  -->
    <app-create (createEvent)="addProduitAction($event)"></app-create>
</div>
<div>
    <h1>List des produits en stock</h1>
    <app-list></app-list>
</div>

<div>
    <router-outlet></router-outlet>
</div>

<app-toast></app-toast>