<form [formGroup]="formGroup" (ngSubmit)="submitAction()">
    <div class="input-field">
        <label for="produit_numero">Numero</label>
        <input type="text" id="produit_numero" formControlName="numero">
    </div>
    <div class="input-field">
        <label for="produit_categorie">Categorie</label>
        <input type="text" id="produit_categorie" formControlName="categorie">
    </div>
    <div class="input-field">
        <label for="produit_label">Label</label>
        <input type="text" id="produit_label" formControlName="label">
    </div>
    <div class="input-field">
        <label for="produit_prix">Prix</label>
        <input type="text" id="produit_prix" formControlName="prix">
    </div>

    <button type="submit">Ajouter</button>
</form>